<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full">

        <mat-drawer
            class="w-72 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="drawerOpened"
            #drawer>

            <div class="flex flex-col flex-auto w-full">
                <!-- Title -->
                <div class="mt-10 mb-8 mx-6 text-2xl font-extrabold tracking-tight leading-none">Filtrer</div>
            
                <!-- FORM ADVANCED SEARCH -->
                <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field
                            [ngClass]="formFieldHelpers"
                            class="flex-auto gt-xs:pr-3">
                            <mat-label>First name</mat-label>
                            <input matInput>
                            <mat-icon
                                class="icon-size-5"
                                matSuffix
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field
                            [ngClass]="formFieldHelpers"
                            class="flex-auto gt-xs:pl-3">
                            <mat-label>Last name</mat-label>
                            <input matInput>
                            <mat-icon
                                class="icon-size-5"
                                matSuffix
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field
                            [ngClass]="formFieldHelpers"
                            class="flex-auto">
                            <mat-label>Address</mat-label>
                            <textarea
                                matInput
                                cdkTextareaAutosize
                                [cdkAutosizeMinRows]="3"></textarea>
                            <mat-icon
                                class="icon-size-5"
                                matSuffix
                                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex flex-col gt-md:flex-row">
                        <mat-form-field
                            [ngClass]="formFieldHelpers"
                            class="flex-auto gt-md:pr-3">
                            <mat-label>City</mat-label>
                            <input matInput>
                            <mat-icon
                                class="icon-size-5"
                                matSuffix
                                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field
                            [ngClass]="formFieldHelpers"
                            class="flex-auto gt-md:pl-3">
                            <mat-label>State</mat-label>
                            <input matInput>
                            <mat-icon
                                class="icon-size-5"
                                matSuffix
                                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="flex">
                        <mat-form-field
                            [ngClass]="formFieldHelpers"
                            class="flex-auto">
                            <mat-label>Postal code</mat-label>
                            <input
                                matInput
                                maxlength="5"
                                #postalCode>
                            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                            <mat-icon
                                class="icon-size-5"
                                matSuffix
                                [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                        </mat-form-field>
                    </div>
                </form>
            
            
            </div>
            
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col overflow-hidden">

            <!-- Main -->
            <div class="flex flex-auto overflow-hidden">

                <!-- _________________________________________ -->
                <!-- _________________________________________ -->
                <!-- _________________________________________ -->
                <!-- _________________________________________ -->
                <!-- LIST -->
                <div class="relative flex flex-auto w-full bg-card dark:bg-transparent">

                    <!-- items list -->
                    <ng-container *ngIf="items && items.length > 0; else noData">
                        <div class="relative flex flex-auto flex-col w-full min-w-0 lg:min-w-90 lg:max-w-90 border-r z-10">
                
                            <!-- Header -->
                            <div class="relative flex flex-0 items-center justify-between h-16 px-4 border-b bg-gray-50 dark:bg-transparent">
                
                                <div class="flex items-center">
                                    <!-- Sidebar toggle button -->
                                    <button
                                        mat-icon-button
                                        (click)="drawer.toggle()">
                                        <mat-icon [svgIcon]="'heroicons_outline:filter'"></mat-icon>
                                    </button>
                                    <!-- Category name -->
                                    <div class="ml-2 font-semibold uppercase">Historique des réservations</div>
                                </div>
                           
                                <!-- Pagination -->
                                <div class="flex items-center">
                                    <!-- Info -->
                                    <div class="flex items-center mr-3 text-md font-medium">
                                        <span>{{pagination.startIndex + 1}}</span>
                                        <span class="mx-1 text-secondary">-</span>
                                        <span>{{pagination.endIndex + 1}}</span>
                                        <span class="mx-1 text-secondary">of</span>
                                        <span>{{pagination.totalResults}}</span>
                                    </div>
                                    <!-- Previous page button -->
                                    <a
                                        class="w-8 h-8 min-h-8"
                                        mat-icon-button
                                        [disabled]="pagination.currentPage === 1"
                                        [routerLink]="['../' + (pagination.currentPage > 1 ? pagination.currentPage - 1 : 1 )]">
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                                    </a>
                                    <!-- Next page button-->
                                    <a
                                        class="w-8 h-8 min-h-8"
                                        mat-icon-button
                                        [disabled]="pagination.currentPage === pagination.lastPage"
                                        [routerLink]="['../' + (pagination.currentPage < pagination.lastPage ? pagination.currentPage + 1 : pagination.lastPage )]">
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                                    </a>
                                </div>
                
                            </div>
                
                            <!-- item list -->
                            <div
                                class="overflow-y-auto"
                                #itemList>
                
                                <!-- Item loop -->
                                <ng-container *ngFor="let item of items; let i = index; trackBy: trackByFn">
                
                                    <!-- Item -->
                                    <div
                                    class="flex px-8 py-5 cursor-pointer"
                                    [ngClass]="{
                                        'hover:bg-gray-100 dark:hover:bg-hover':
                                            !selectedItem || selectedItem.id !== item.id,
                                        'bg-primary-50 dark:bg-hover':
                                            selectedItem && selectedItem.id === item.id
                                    }"
                                    (click)="onSelectedItem(item)"
                                    >
                                       

                                  









                                        <!-- Item content -->
                                        <div
                                        class="flex flex-col items-start justify-start w-full py-6 pr-4 pl-5 border-l-4 border-transparent"
                                        [ngClass]="{'bg-primary-50 dark:bg-black dark:bg-opacity-5': selectedItem && selectedItem.id === item.id}">

                                        <!-- Info -->
                                        <div class="flex items-center w-full">
                                            <!-- Service name -->
                                            <div class="mr-2 font-semibold truncate">
                                                {{item.name.split('<')[0].trim()}}
                                                </div>
                                                <!-- Status indicator -->
                                                <mat-icon
                                                    class="mr-3 icon-size-4"
                                                    *ngIf="item.achievedDate || item.isCanceled || item.isPayed"
                                                    [svgIcon]="item.isPayed ? 'heroicons_solid:check-circle' : (item.isCanceled ? 'heroicons_solid:x-circle' : 'heroicons_solid:check-circle')"
                                                    [ngStyle]="{
                                                        'color': item.isPayed ? 'green' : (item.isCanceled ? 'red' : 'yellow')
                                                    }"
                                                    [matTooltip]="item.isPayed?'payée':(item.isCanceled?'annullée':'effectuée')">
                                                </mat-icon>
                                                <!-- Date -->
                                                <div class="ml-auto text-md text-right whitespace-nowrap text-hint">
                                                    {{item.date | date:'LLL dd YYYY, HH:mm'}}
                                                </div>
                                            </div>


                                            <!-- Excerpt -->
                                            <div class="mt-2 leading-normal line-clamp-2 text-secondary">
                                                {{ item.description?.length > 50 ? item.description?.slice(0, 50) + '...' : item.description }}
                                            </div>

                                        </div>







                                    </div>
                    
                                </ng-container>
                
                            </div>
                
                        </div>
                
                    </ng-container>
                
                    <!-- No items template -->
                    <ng-template #noData>
                        <div class="z-100 absolute inset-0 flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                            <mat-icon
                                class="icon-size-24"
                                [svgIcon]="'heroicons_outline:minus'"></mat-icon>
                            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Aucune réservation effectuée</div>
                        </div>
                    </ng-template>
                
                    <!-- item details -->
                    <ng-container *ngIf="items && items.length > 0">
                        <div
                            class="flex-auto"
                            [ngClass]="{'z-20 absolute inset-0 lg:static lg:inset-auto flex': selectedItem && selectedItem.id,
                                        'hidden lg:flex': !selectedItem || !selectedItem.id}"
                        >

                            <div class="flex flex-col flex-auto overflow-y-auto lg:overflow-hidden bg-card dark:bg-default">

                                <ng-container *ngIf="selectedItem && selectedItem.id; else selectitemToDisplay">
                                    <!-- Header -->
                                    <div class="z-10 relative flex flex-col flex-0 w-full border-b">
                                        
                                        
                                        
            <!-- Toolbar -->
            <div class="flex items-center min-h-16 px-4 md:px-6 border-b bg-gray-50 dark:bg-transparent">

                <!-- Back button -->
                <button
                    class="lg:hidden md:-ml-2"
                    mat-icon-button
                    (click)="removeSeleteditem()">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                </button>

                <!-- ACTION BUTTON -->

                <!-- cancel button -->
                <button
                    class="ml-2"
                    *ngIf="!selectedItem.achievedDate && !selectedItem.isCanceled && !selectedItem.isPayed"
                    [matTooltip]="'Annuler la réservation'"
                    mat-icon-button>
                    <mat-icon
                        [ngClass]="'text-red-600 dark:text-red-500'"
                        [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                </button>

                <!-- edit button -->
                <button
                    class="ml-2"
                    *ngIf="!selectedItem.achievedDate && !selectedItem.isCanceled && !selectedItem.isPayed"
                    [matTooltip]="'Modifier la réservation'"
                    mat-icon-button>
                    <mat-icon
                        [ngClass]="'text-yellow-600 dark:text-yellow-500'"
                        [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                </button>


                <!-- done button -->
                <button
                    class="ml-2"
                    *ngIf="!selectedItem.achievedDate && !selectedItem.isCanceled && !selectedItem.isPayed"
                    [matTooltip]="'Terminer'"
                    mat-icon-button>
                    <mat-icon
                        [ngClass]="'text-green-600 dark:text-green-500'"
                        [svgIcon]="'heroicons_outline:check'"></mat-icon>
                </button>

                <!-- pay button -->
                <button
                    class="ml-2"
                    [matTooltip]="'Payer'"
                    *ngIf="selectedItem.achievedDate"
                    mat-icon-button>
                    <mat-icon
                        [ngClass]="'text-green-500 dark:text-green-400'"
                        [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                </button>

                <!-- Other actions button & menu -->
                <!-- <button
                    class="ml-2"
                    mat-icon-button
                    [matMenuTriggerFor]="detailsMenu">
                    <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                </button>
                <mat-menu #detailsMenu="matMenu">
                    <button
                        mat-menu-item>
                        <mat-icon [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                        <span>Mark as unread</span>
                    </button>
                    <button
                        mat-menu-item>
                        <mat-icon [svgIcon]="'heroicons_outline:exclamation'"></mat-icon>
                        <span>Spam</span>
                    </button>
                    <button
                        mat-menu-item
                        >
                        <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu> -->

            </div>

            <!-- Subject -->
            <div class="flex flex-wrap items-center py-5 px-6">
                <div class="flex flex-auto my-1 mr-4 text-2xl"> {{ getItemInfo(selectedItem).name }}</div>
            </div>

                                        
                                        
                                        
                                        
                                        











                                    </div>
                            
                                </ng-container>
                            
                                <ng-template #selectitemToDisplay>
                            
                                    <div class="flex flex-col flex-auto items-center justify-center bg-gray-100 dark:bg-transparent">
                                        <mat-icon
                                            class="icon-size-24"
                                            [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Choisir une réservation</div>
                                    </div>
                            
                                </ng-template>
                            
                            </div>
                        

                         


                        </div>
                    </ng-container>
                
                </div>
                <!-- _________________________________________ -->
                <!-- _________________________________________ -->
                <!-- _________________________________________ -->
                <!-- _________________________________________ -->

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
