; "user" config from /Users/user/.npmrc

@bryntum:registry = "https://npm.bryntum.com"
//npm.bryntum.com/:_authToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCJdLCJuYW1lIjoidG9hdmluYXJha290b2FyaXNvYTAyNC4uZ21haWwuY29tIiwiZ3JvdXBzIjpbInRyaWFsIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sImlhdCI6MTcwOTI1MTc3MCwibmJmIjoxNzA5MjUxNzcwLCJleHAiOjI1NzMxNjUzNzB9.FiHW8-pOpL4jU7IwjX4k1mEn0zsaknC-fTgovtmj0qA"

; "project" config from /Users/Shared/data/devel/bryntum-suite/.npmrc

legacy-peer-deps = true

; node bin location = /Users/user/.nvm/versions/node/v12.22.1/bin/node
; cwd = /Users/Shared/data/devel/bryntum-suite
; HOME = /Users/user
; Run `npm config ls -l` to show all defaults.
