<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div
                class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
            >
                <div
                    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8"
                >
                    <div class="text-4xl font-medium tracking-tight">
                        Dépenses diverses
                    </div>


                    <div
                        class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4"
                    >
                        <button
                            class="ml-4"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="addExpense()"
                        >
                            <mat-icon svgIcon="mat_outline:add"></mat-icon>
                            <span class="ml-2 mr-1">Nouveau</span>
                        </button>
                    </div>




                </div>
                    <!-- *FILTRER PAR-->
                    
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Recherche avancée
                          </mat-panel-title>
                          <mat-panel-description>
                            <mat-icon>filter_list</mat-icon>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        

                        <form
                        [formGroup]="form"
                        class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"

                        >
                            <div class="grid sm:grid-cols-4 gap-6 w-full">

                                <div class="sm:col-span-2">
                                    <mat-form-field  class="fuse-mat-dense flex-auto w-full">
                                        <mat-label>Entrer une intervalle de date</mat-label>
                                        <mat-date-range-input [rangePicker]="picker">
                                            <input matStartDate placeholder="Date début" [formControlName]="'min_date'">
                                            <input matEndDate placeholder="Date fin" [formControlName]="'max_date'">
                                        </mat-date-range-input>
                                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-date-range-picker #picker></mat-date-range-picker>


                                    </mat-form-field>
                                </div>

                          
                            </div>

                            <div class="grid sm:grid-cols-4 gap-6 w-full">
                                <div class="sm:col-span-2">
                                    <mat-form-field class="fuse-mat-dense flex-auto w-full">
                                        <mat-label>Catégories</mat-label>
                                        <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_outline:tag'"
                                            matPrefix
                                        ></mat-icon>
                                        <mat-select
                                            required
                                            [formControlName]="'categories'"
                                            (selectionChange)="updateCategoryFilterList($event)"
                                        >
                                            <ng-container *ngFor="let ctg of categories">
                                                <mat-option value="{{ ctg._id }}">{{
                                                    ctg.categoryName
                                                }}</mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="sm:col-span-2">
                                    <mat-form-field class="flex">
                                        <mat-label>Catégorie(s) choisie(s)</mat-label>
                                        <mat-chip-grid #chipGrid>
                                            <ng-container *ngFor="let ctg of categoryFilterData">
                                                <mat-chip-row>
                                                    {{ ctg.categoryName }}
                                                    <mat-icon
                                                        (click)="removeCategoryFilterList(ctg._id)"
                                                        class="icon-size-5"
                                                        matChipRemove
                                                        [svgIcon]="'heroicons_solid:minus-circle'"
                                                    ></mat-icon>
                                                </mat-chip-row>
                                            </ng-container>
                                            <input
                                                style="display: none"
                                                placeholder="New chip..."
                                                [matChipInputFor]="chipGrid"
                                            />
                                        </mat-chip-grid>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>

                    </mat-expansion-panel>
                </mat-accordion>

                <div class="grid gap-6 w-full">                    
                    <mat-form-field
                    class="fuse-mat-rounded fuse-mat-dense w-full"
                    [subscriptSizing]="'dynamic'"
                    >
                        <mat-icon
                            matPrefix
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:search'"
                        ></mat-icon>
                        <input
                            matInput
                            [autocomplete]="'on'"
                            [placeholder]="'Recherche'"                         />
                    </mat-form-field>
                </div>


                <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
                    <table
                        mat-table
                        [dataSource]="dataSource"
                        class="mat-elevation-z8"
                        matSort
                    >
                       
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-black uppercase"
                                mat-sort-header
                            >
                                Dépense
                            </th>
                            <td mat-cell *matCellDef="let expense" [matTooltip]="expense.description">
                                {{ expense.name }}
                            </td>
                        </ng-container>

                       
                        <ng-container matColumnDef="amount">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-black uppercase"
                                mat-sort-header
                            >
                                Montant
                            </th>
                            <td mat-cell *matCellDef="let expense">
                                
                                {{ expense.amount | mlgCurrency}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="date">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-black uppercase"
                                mat-sort-header
                            >
                                Date
                            </th>
                            <td mat-cell *matCellDef="let expense">
                                
                                {{ expense.date | date: 'EEE, dd MMM yyyy'}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="frequencyDisplay">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-black uppercase"
                                mat-sort-header
                            >
                                Fréquence
                            </th>
                            <td mat-cell *matCellDef="let expense">
                                
                                {{ displayFrequency(expense.frequencyValue,expense.frequency.level)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="category">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-black uppercase"
                                mat-sort-header
                            >
                                Catégorie
                            </th>
                            <td mat-cell *matCellDef="let expense">
                                
                                {{ expense.expenseCategory.categoryName}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="edit">
                            <th
                                mat-header-cell
                                class="text-base uppercase"
                                *matHeaderCellDef
                            ></th>
                            <td mat-cell *matCellDef="let expense" >
                                <button
                                    class="ml-4"
                                    mat-button
                                    matTooltip="modifier"
                                    (click)="updateExpense(expense)"
                                >
                                    <mat-icon
                                        svgIcon="heroicons_outline:pencil"
                                        class="text-cyan-700 cursor-pointer"
                                    ></mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="delete">
                            <th
                                mat-header-cell
                                class="text-base uppercase"
                                *matHeaderCellDef
                            ></th>
                            <td mat-cell *matCellDef="let expense" >
                                <button
                                matTooltip="supprimer"
                                    class="ml-4"
                                    mat-button
                                    (click)="deleteExpense(expense)"
                                >
                                    <mat-icon
                                        svgIcon="heroicons_outline:trash"
                                        class="text-red-700 cursor-pointer"
                                    ></mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                    <mat-paginator aria-label="éléments par page" [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="itemsPerPageOptions" showFirstLastButtons (page)="pageChanged($event)"></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>
