<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <div
        class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 text-on-primary"
        [ngClass]="{
            'bg-red-500': usedData.type === 'Delete',
            'bg-blue-500': usedData.type === 'Info'
        }"
    >
        <div class="text-lg font-medium">{{ usedData.title }}</div>
        <button mat-icon-button [tabIndex]="-1" (click)="closeModal(false)">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"
            ></mat-icon>
        </button>
    </div>
    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
        <label> {{ message }}</label>
        <div
            class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6"
        >
            <div class="-ml-2"></div>
            <div class="flex items-center mt-4 sm:mt-0">
                <button
                    class="order-first sm:mx-3"
                    mat-stroked-button
                    (click)="closeModal(false)"
                >
                    <span>Annuler</span>
                </button>
                <button
                    class="sm:order-last bg-{{ usedData.color }}-500"
                    mat-flat-button
                    [color]="usedData.boutonColor"
                    (click)="closeModal(true)"
                >
                    Valider
                </button>
            </div>
        </div>
    </div>
</div>
