<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <div
                class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
            >
                <div
                    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8"
                >
                    <div class="text-4xl font-medium tracking-tight">
                        Gestion des services
                    </div>


                    <div
                        class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4"
                    >
                        <button
                            class="ml-4"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="addService()"
                        >
                            <mat-icon svgIcon="mat_outline:add"></mat-icon>
                            <span class="ml-2 mr-1">Nouveau</span>
                        </button>
                    </div>




                </div>
                <div class="flex grid-cols-2">
                    <!-- *FILTRER PAR-->
                </div>

                <div class="flex flex-col flex-auto mt-2 overflow-x-auto">
                    <table
                        mat-table
                        [dataSource]="dataSource"
                        class="mat-elevation-z8"
                        matSort
                    >
                       
                        <ng-container matColumnDef="name">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-black uppercase"
                                mat-sort-header
                            >
                                Service
                            </th>
                            <td mat-cell *matCellDef="let service">
                                {{ service.name }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="description">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-black uppercase"
                                mat-sort-header
                            >
                                Description
                            </th>
                            <td mat-cell *matCellDef="let service">
                                
                                {{ service.description}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="price">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-black uppercase"
                                mat-sort-header
                            >
                                Prix
                            </th>
                            <td mat-cell *matCellDef="let service">
                                
                                {{ service.price | mlgCurrency}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="duration">
                            <th
                                mat-header-cell
                                *matHeaderCellDef
                                class="text-black uppercase"
                                mat-sort-header
                            >
                                Durée
                            </th>
                            <td mat-cell *matCellDef="let service">
                                
                                {{ service.duration | duration}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="edit">
                            <th
                                mat-header-cell
                                class="text-base uppercase"
                                *matHeaderCellDef
                            ></th>
                            <td mat-cell *matCellDef="let user">
                                <button
                                    class="ml-4"
                                    mat-button
                                    (click)="updateService(service)"
                                >
                                    <mat-icon
                                        svgIcon="heroicons_outline:pencil"
                                        class="text-cyan-700 cursor-pointer"
                                    ></mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="delete">
                            <th
                                mat-header-cell
                                class="text-base uppercase"
                                *matHeaderCellDef
                            ></th>
                            <td mat-cell *matCellDef="let service">
                                <button
                                    class="ml-4"
                                    mat-button
                                    (click)="deleteService(service._id)"
                                >
                                    <mat-icon
                                        svgIcon="heroicons_outline:trash"
                                        class="text-red-700 cursor-pointer"
                                    ></mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="displayedColumns"
                        ></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: displayedColumns"
                        ></tr>
                    </table>
                    <mat-paginator aria-label="éléments par page" [length]="totalItems" [pageSize]="itemsPerPage" [pageSizeOptions]="itemsPerPageOptions" showFirstLastButtons (page)="pageChanged($event)"></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>
