<!-- Button -->
<ng-container *ngIf="isConnected">
    <button mat-icon-button [matMenuTriggerFor]="userActions">
        <span class="relative">
            <img
                class="w-7 h-7 rounded-full"
                *ngIf="showAvatar && user?.avatar"
                [src]="user?.avatar"
            />
            <mat-icon
                *ngIf="!showAvatar || !user?.avatar"
                [svgIcon]="'heroicons_outline:user-circle'"
            ></mat-icon>
            <span
                class="absolute right-0 bottom-0 w-2 h-2 rounded-full bg-green-500"
                [ngClass]="{
                    'mr-px mb-px': !showAvatar || !user?.avatar
                }"
            ></span>
        </span>
    </button>
</ng-container>

<ng-container *ngIf="!isConnected">
    <div class="flex w-full items-center">
        <mat-icon
            class="fuse-vertical-navigation-item-icon"
            [svgIcon]="'heroicons_outline:chevron-right'"
        ></mat-icon>

        <div class="fuse-vertical-navigation-item-title-wrapper ml-4">
            <div class="fuse-vertical-navigation-item-title">
                <span> Se connecter</span>
            </div>
        </div>
    </div>
</ng-container>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>Connecté en tant que</span>
            <span class="mt-1.5 text-md font-medium">{{ user?.username }}</span>
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>

    <button mat-menu-item (click)="account()">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Commpte</span>
    </button>

    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>Déconnexion</span>
    </button>
</mat-menu>
